<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:tools="http://schemas.android.com/tools">
    <uses-permission 
    android:name="android.permission.READ_MEDIA_IMAGES" 
    tools:node="remove"/>

    <uses-permission 
    android:name="android.permission.READ_MEDIA_VIDEO" 
    tools:node="remove"/>
    <!-- The INTERNET permission is required for development. Specifically,
         the Flutter tool needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
